# dependencies
**/node_modules/

# env files
.env
backend/.env
frontend/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# build output
frontend/dist/
backend/dist/

# local DB migration artifacts
backend/migration/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
